In [16]:
import pandas as pd
import requests
import holidays
from pathlib import Path

## Importaremos el archivo de datos

In [17]:
archivo = "../data/raw/Billing export from 2023-01-01 to 2025-12-19 for SIAMO LA PIZZA.csv"
df = pd.read_csv(archivo)
df

,activationTime,firstBillNumber,lastBillNumber,taxableBase,totalWithDiscount,discountsTotal,total,tip,tax 10%,tax 21%,card,cash,delitbee,gloriafood,glovo,justeat,shop,the fork qr,uber
0,01/01/2023,LS1255,LS1279,"559,26","732,37","117,20","615,17","0,00","55,91",NaN,"84,20","72,70",NaN,NaN,"71,40","98,17","43,00",NaN,"245,70"
1,02/01/2023,LI1,LS1298,"456,85","579,92","77,40","502,52","0,00","45,67",NaN,"68,80","90,80",NaN,NaN,"41,70","106,72","64,90",NaN,"129,60"
2,04/01/2023,LS1299,LS1319,"496,63","599,30","52,99","546,31","1,05","49,68",NaN,"155,26","50,50",NaN,NaN,"37,90","52,00","78,00",NaN,"173,70"
3,05/01/2023,LS1320,LS1338,"465,46","589,00","77,01","511,99","0,00","46,53",NaN,"99,64","90,45",NaN,NaN,NaN,"102,00","50,00",NaN,"169,90"
4,06/01/2023,LS1339,LS1363,"586,35","757,30","112,34","644,96","1,04","58,61",NaN,"123,30","136,46",NaN,NaN,NaN,"62,50","96,74",NaN,"227,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903,13/12/2025,LI107,LS19166,"1.309,25","1.451,10","10,27","1.440,83","0,00","130,31","1,27","537,50","98,90","177,00",NaN,"79,00","85,13",NaN,NaN,"202,90"
904,14/12/2025,LI106,LS19189,"583,92","665,69","23,37","642,32","0,00","58,40",NaN,"158,80","11,20","25,50",NaN,"98,59","52,83",NaN,NaN,"295,40"
905,17/12/2025,LS19190,LS19211,"441,36","502,30","16,80","485,50","0,00","44,14",NaN,"192,30","15,30","20,40",NaN,"34,20",NaN,NaN,NaN,"223,30"
906,18/12/2025,LS19212,LS19226,"364,20","435,70","35,10","400,60","0,00","36,40",NaN,"186,10",NaN,"61,00",NaN,"74,50",NaN,NaN,NaN,"79,00"
907,TOTAL,NaN,NaN,"421.964,67","540.053,75","75.649,75","464.404,00","433,19","41.960,03","472,35","145.830,13","42.650,72","5.055,60","31.460,11","51.379,62","52.634,54","31.791,89","191,73","103.582,45"

In [18]:
df = df.iloc[:-1]

In [19]:
df.dtypes

activationTime       object
firstBillNumber      object
lastBillNumber       object
taxableBase          object
totalWithDiscount    object
discountsTotal       object
total                object
tip                  object
tax 10%              object
tax 21%              object
card                 object
cash                 object
delitbee             object
gloriafood           object
glovo                object
justeat              object
shop                 object
the fork qr          object
uber                 object
dtype: object

In [20]:
df.duplicated().sum()

np.int64(0)

In [21]:
df["activationTime"] = pd.to_datetime(df["activationTime"], format="%d/%m/%Y", errors="coerce")

df = df.sort_values("activationTime")

df

/tmp/ipykernel_59457/242801302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["activationTime"] = pd.to_datetime(df["activationTime"], format="%d/%m/%Y", errors="coerce")

,activationTime,firstBillNumber,lastBillNumber,taxableBase,totalWithDiscount,discountsTotal,total,tip,tax 10%,tax 21%,card,cash,delitbee,gloriafood,glovo,justeat,shop,the fork qr,uber
0,2023-01-01,LS1255,LS1279,"559,26","732,37","117,20","615,17","0,00","55,91",NaN,"84,20","72,70",NaN,NaN,"71,40","98,17","43,00",NaN,"245,70"
1,2023-01-02,LI1,LS1298,"456,85","579,92","77,40","502,52","0,00","45,67",NaN,"68,80","90,80",NaN,NaN,"41,70","106,72","64,90",NaN,"129,60"
2,2023-01-04,LS1299,LS1319,"496,63","599,30","52,99","546,31","1,05","49,68",NaN,"155,26","50,50",NaN,NaN,"37,90","52,00","78,00",NaN,"173,70"
3,2023-01-05,LS1320,LS1338,"465,46","589,00","77,01","511,99","0,00","46,53",NaN,"99,64","90,45",NaN,NaN,NaN,"102,00","50,00",NaN,"169,90"
4,2023-01-06,LS1339,LS1363,"586,35","757,30","112,34","644,96","1,04","58,61",NaN,"123,30","136,46",NaN,NaN,NaN,"62,50","96,74",NaN,"227,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
902,2025-12-12,LS19115,LS19131,"412,04","460,60","6,57","454,03","0,00","40,53","1,46","158,50",NaN,"91,50",NaN,"14,30","30,33",NaN,NaN,"159,40"
903,2025-12-13,LI107,LS19166,"1.309,25","1.451,10","10,27","1.440,83","0,00","130,31","1,27","537,50","98,90","177,00",NaN,"79,00","85,13",NaN,NaN,"202,90"
904,2025-12-14,LI106,LS19189,"583,92","665,69","23,37","642,32","0,00","58,40",NaN,"158,80","11,20","25,50",NaN,"98,59","52,83",NaN,NaN,"295,40"
905,2025-12-17,LS19190,LS19211,"441,36","502,30","16,80","485,50","0,00","44,14",NaN,"192,30","15,30","20,40",NaN,"34,20",NaN,NaN,NaN,"223,30"
906,2025-12-18,LS19212,LS19226,"364,20","435,70","35,10","400,60","0,00","36,40",NaN,"186,10",NaN,"61,00",NaN,"74,50",NaN,NaN,NaN,"79,00"

In [22]:
df = df.rename(columns={"activationTime": "date"})

In [23]:
df

,date,firstBillNumber,lastBillNumber,taxableBase,totalWithDiscount,discountsTotal,total,tip,tax 10%,tax 21%,card,cash,delitbee,gloriafood,glovo,justeat,shop,the fork qr,uber
0,2023-01-01,LS1255,LS1279,"559,26","732,37","117,20","615,17","0,00","55,91",NaN,"84,20","72,70",NaN,NaN,"71,40","98,17","43,00",NaN,"245,70"
1,2023-01-02,LI1,LS1298,"456,85","579,92","77,40","502,52","0,00","45,67",NaN,"68,80","90,80",NaN,NaN,"41,70","106,72","64,90",NaN,"129,60"
2,2023-01-04,LS1299,LS1319,"496,63","599,30","52,99","546,31","1,05","49,68",NaN,"155,26","50,50",NaN,NaN,"37,90","52,00","78,00",NaN,"173,70"
3,2023-01-05,LS1320,LS1338,"465,46","589,00","77,01","511,99","0,00","46,53",NaN,"99,64","90,45",NaN,NaN,NaN,"102,00","50,00",NaN,"169,90"
4,2023-01-06,LS1339,LS1363,"586,35","757,30","112,34","644,96","1,04","58,61",NaN,"123,30","136,46",NaN,NaN,NaN,"62,50","96,74",NaN,"227,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
902,2025-12-12,LS19115,LS19131,"412,04","460,60","6,57","454,03","0,00","40,53","1,46","158,50",NaN,"91,50",NaN,"14,30","30,33",NaN,NaN,"159,40"
903,2025-12-13,LI107,LS19166,"1.309,25","1.451,10","10,27","1.440,83","0,00","130,31","1,27","537,50","98,90","177,00",NaN,"79,00","85,13",NaN,NaN,"202,90"
904,2025-12-14,LI106,LS19189,"583,92","665,69","23,37","642,32","0,00","58,40",NaN,"158,80","11,20","25,50",NaN,"98,59","52,83",NaN,NaN,"295,40"
905,2025-12-17,LS19190,LS19211,"441,36","502,30","16,80","485,50","0,00","44,14",NaN,"192,30","15,30","20,40",NaN,"34,20",NaN,NaN,NaN,"223,30"
906,2025-12-18,LS19212,LS19226,"364,20","435,70","35,10","400,60","0,00","36,40",NaN,"186,10",NaN,"61,00",NaN,"74,50",NaN,NaN,NaN,"79,00"

In [24]:
df.dtypes

date                 datetime64[ns]
firstBillNumber              object
lastBillNumber               object
taxableBase                  object
totalWithDiscount            object
discountsTotal               object
total                        object
tip                          object
tax 10%                      object
tax 21%                      object
card                         object
cash                         object
delitbee                     object
gloriafood                   object
glovo                        object
justeat                      object
shop                         object
the fork qr                  object
uber                         object
dtype: object

In [25]:
cols_to_drop = ["firstBillNumber", "lastBillNumber", "taxableBase", "totalWithDiscount", "discountsTotal", "tip", "cash", "tax 10%", "tax 21%", "card", "delitbee", "gloriafood", "glovo", "justeat", "shop", "the fork qr", "uber"] 
df = df.drop(columns=cols_to_drop)

In [26]:
df

          date     total
0   2023-01-01    615,17
1   2023-01-02    502,52
2   2023-01-04    546,31
3   2023-01-05    511,99
4   2023-01-06    644,96
..         ...       ...
902 2025-12-12    454,03
903 2025-12-13  1.440,83
904 2025-12-14    642,32
905 2025-12-17    485,50
906 2025-12-18    400,60

[907 rows x 2 columns]

In [27]:
df["date"] = pd.to_datetime(df["date"])

# 2) Número de día (Lun=1 ... Dom=7)  ✅
df["weekday_num"] = df["date"].dt.isocalendar().day.astype(int)


df.head()

        date   total  weekday_num
0 2023-01-01  615,17            7
1 2023-01-02  502,52            1
2 2023-01-04  546,31            3
3 2023-01-05  511,99            4
4 2023-01-06  644,96            5

In [28]:
postal_code = "28017"
geo_url = "https://geocoding-api.open-meteo.com/v1/search"
geo_params = {
    "name": postal_code,
    "count": 5,
    "language": "es",
    "format": "json"
}

In [29]:
g = requests.get(geo_url, params=geo_params, timeout=30)
g.raise_for_status()
results = g.json().get("results", [])

In [30]:
results_es = [r for r in results if r.get("country_code") == "ES"] or results
best = results_es[0]  # el primero suele ser el más relevante

In [31]:
lat, lon = best["latitude"], best["longitude"]
print("Usando:", best.get("name"), best.get("admin1"), best.get("country"), "->", lat, lon)

Usando: Madrid Madrid España -> 40.4165 -3.70256

In [32]:
start = df["date"].min().date().isoformat()
end   = df["date"].max().date().isoformat()

weather_url = "https://archive-api.open-meteo.com/v1/archive"
weather_params = {
    "latitude": lat,
    "longitude": lon,
    "start_date": start,
    "end_date": end,
    "daily": "temperature_2m_max,temperature_2m_min,precipitation_sum,windspeed_10m_max",
    "timezone": "Europe/Madrid"
}

r = requests.get(weather_url, params=weather_params, timeout=30)
r.raise_for_status()
daily = r.json()["daily"]

weather = pd.DataFrame(daily).rename(columns={"time": "date"})
weather["date"] = pd.to_datetime(weather["date"])

df = df.merge(weather, on="date", how="left")

df.head()

,date,total,weekday_num,temperature_2m_max,temperature_2m_min,precipitation_sum,windspeed_10m_max
0,2023-01-01,"615,17",7,14.5,3.6,0.0,12.3
1,2023-01-02,"502,52",1,11.3,6.7,1.1,10.2
2,2023-01-04,"546,31",3,11.0,0.5,0.0,7.5
3,2023-01-05,"511,99",4,10.8,0.7,0.0,9.5
4,2023-01-06,"644,96",5,9.7,-1.1,0.0,8.0

In [33]:
df["date"] = pd.to_datetime(df["date"])

years = range(int(df["date"].dt.year.min()), int(df["date"].dt.year.max()) + 1)

# Madrid (Comunidad)
es_holidays = holidays.country_holidays("ES", subdiv="MD", years=years)

holiday_dates = set(es_holidays.keys())  # esto son datetime.date

df["is_holiday"] = df["date"].dt.date.isin(holiday_dates)
df["is_holiday_eve"] = (df["date"] + pd.Timedelta(days=1)).dt.date.isin(holiday_dates)

df.head()

,date,total,weekday_num,temperature_2m_max,temperature_2m_min,precipitation_sum,windspeed_10m_max,is_holiday,is_holiday_eve
0,2023-01-01,"615,17",7,14.5,3.6,0.0,12.3,False,False
1,2023-01-02,"502,52",1,11.3,6.7,1.1,10.2,False,False
2,2023-01-04,"546,31",3,11.0,0.5,0.0,7.5,False,False
3,2023-01-05,"511,99",4,10.8,0.7,0.0,9.5,False,True
4,2023-01-06,"644,96",5,9.7,-1.1,0.0,8.0,True,False

In [34]:
df["is_holiday_eve"] = (df["date"] + pd.Timedelta(days=1)).dt.date.isin(holiday_dates)

In [35]:
df["is_holiday_after"] = (df["date"] - pd.Timedelta(days=1)).dt.date.isin(holiday_dates)

In [36]:
df

,date,total,weekday_num,temperature_2m_max,temperature_2m_min,precipitation_sum,windspeed_10m_max,is_holiday,is_holiday_eve,is_holiday_after
0,2023-01-01,"615,17",7,14.5,3.6,0.0,12.3,False,False,False
1,2023-01-02,"502,52",1,11.3,6.7,1.1,10.2,False,False,False
2,2023-01-04,"546,31",3,11.0,0.5,0.0,7.5,False,False,False
3,2023-01-05,"511,99",4,10.8,0.7,0.0,9.5,False,True,False
4,2023-01-06,"644,96",5,9.7,-1.1,0.0,8.0,True,False,False
...,...,...,...,...,...,...,...,...,...,...
902,2025-12-12,"454,03",5,11.9,4.4,0.0,10.9,False,False,False
903,2025-12-13,"1.440,83",6,14.0,5.4,0.0,10.0,False,False,False
904,2025-12-14,"642,32",7,11.2,3.7,0.0,9.4,False,False,False
905,2025-12-17,"485,50",3,13.2,7.5,0.0,15.5,False,False,False
906,2025-12-18,"400,60",4,10.5,6.5,0.0,7.6,False,False,False

In [38]:

out_dir = Path("../data/processed")
out_dir.mkdir(parents=True, exist_ok=True)

df.to_csv(out_dir / "sales_daily_features.csv", index=False)